# Copie para .env e preencha com a URL da sua instância PocketBase
VITE_POCKETBASE_URL=http://127.0.0.1:8090

# Cloudflare Turnstile Secret Key (Backend)
TURNSTILE_SECRET=1x0000000000000000000000000000000AA

# Base URL for the frontend application (used in emails)
EMBED_BASE_URL=http://localhost:5173
